*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    border: solid, 20px, rgb(74,106,137);
    max-width: 860px;
}

body{
    background-image: url('kepek/v3.jpg');
    color: rgb(74,106,137);
    margin: auto;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color: rgb(208,198,177);
    max-width: 900px;
    color: rgb(74,106,137);
    margin-top: 20px;
    margin-bottom: 40px;
}

main{
    max-width: 900px;
    background-color: rgb(208,198,177);
    border: solid, 1px, rgb(74,106,137);
}

main article{
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main article img{
    border: solid, 4px, rgb(74,106,137);
    width: 150px;
}

main aside{
    text-align: center;
    margin-right: 30px;
}

.m{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    background-color: rgb(74,106,137);
    color: rgb(208,198,177);
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid, 8px, rgb(74,106,137);
}

nav a{
    color: rgb(74,106,137);
    text-decoration: none;
}

thead{
    color: white;
    background-color: rgb(74,106,137);
}

table{
    border-collapse: collapse;
    text-align: center;
    font-size: medium;
    width: 95%;
    margin-top: 10px;
}

th{
    height: 30px;
    border: solid, 1px, rgb(74,106,137);
}

td{
    height: 20px;
    border: solid, 1px, rgb(74,106,137);
}

tbody tr:nth-child(odd){
    background-color: #dad5ca;
}
tbody tr:nth-child(even){
    background-color: #f3efe9;
}

@media screen and (max-width:800px){
    nav ul{
        display: grid;
        grid-template-columns: 1fr;
    }
    .m{
        display: grid;
        grid-template-columns: 1fr;
    }
    main article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}